.profile {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.profile-img {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  object-fit: cover;
  cursor: pointer;
  border: 1px solid gold;
  background-color: white;
  padding: 1px;
}

.profile-img:hover {
  transform: scale(1.1);
  transition: 500ms;
}

